<section>

  <header>
    <h1>Best Hockey Dudes</h1>
    <input class="new-player">
  </header>
  <section class="main">
    <ul class="player-list">
      <li>
        <div class="view">
          <label>Dude 1</label>
        </div>
      </li>
    </ul>
  </section>

</section>